/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;		
    vertical-align:baseline;
    background:transparent;
    font-family:'Conv_GraphikWeb-Regular', Arial, san-serif;
    font-weight:normal;
}
* { -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; }
::-webkit-input-placeholder{ line-height: 1; vertical-align: middle; color: #888; }
:-moz-placeholder{line-height: normal; vertical-align: middle; color: #888; }
::-moz-placeholder{line-height: normal; vertical-align: middle; color: #888; }
:-ms-input-placeholder { line-height: normal; vertical-align: middle; color: #888; }
body {line-height:1; font-size:100%; background-color:#FFF;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {list-style:none;    }

blockquote, q {quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
}
:focus {outline:none;} ::-moz-focus-inner {border:0;}
ins {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#fff;
    color:#000; 
    font-style:italic;
}	
del {text-decoration: line-through;}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {vertical-align:middle;   }

section {padding:20px 0; }

/*COLUMNS AND ROWS*/
.container{
    margin-right: auto;
    margin-left: auto;		
}	
.container { max-width:970px; position:relative;}	

.row {
    display:block;
    position:relative;	
    margin-left:15px;
    margin-right:15px;
}	
.row-nomargin {
    display:block;
    position:relative;	
    margin-left:0;
    margin-right:0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-xs-2, .col-sm-2, .col-md-2, .col-xs-3, .col-sm-3, .col-md-3, .col-xs-4, .col-sm-4, .col-md-4, .col-xs-5, .col-sm-5, .col-md-5, .col-xs-6, .col-sm-6, .col-md-6, .col-xs-7, .col-sm-7, .col-md-7, .col-xs-8, .col-sm-8, .col-md-8, .col-xs-9, .col-sm-9, .col-md-9, .col-xs-10, .col-sm-10, .col-md-10, .col-xs-11, .col-sm-11, .col-md-11, .col-xs-12, .col-sm-12, .col-md-12 {
    position: relative;
    min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 { width: 100%;}
.col-xs-11 { width: 91.66666667%;}
.col-xs-10 { width: 83.33333333%;}
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%;}
.col-xs-7 { width: 58.33333333%;}
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%;}
.col-xs-4 { width: 33.33333333%;}
.col-xs-3 { width: 25%;}
.col-xs-2 { width: 16.66666667%;}
.col-xs-1 { width: 8.33333333%; }
.col-xs-pull-12 { right: 100%;}
.col-xs-pull-11 { right: 91.66666667%;}
.col-xs-pull-10 { right: 83.33333333%;}
.col-xs-pull-9 { right: 75%;}
.col-xs-pull-8 { right: 66.66666667%;}
.col-xs-pull-7 { right: 58.33333333%;}
.col-xs-pull-6 { right: 50%;}
.col-xs-pull-5 { right: 41.66666667%;}
.col-xs-pull-4 { right: 33.33333333%;}
.col-xs-pull-3 { right: 25%;}
.col-xs-pull-2 { right: 16.66666667%;}
.col-xs-pull-1 { right: 8.33333333%;}
.col-xs-pull-0 { right: auto;}
.col-xs-push-12 { left: 100%;}
.col-xs-push-11 { left: 91.66666667%;}
.col-xs-push-10 { left: 83.33333333%;}
.col-xs-push-9 { left: 75%; }
.col-xs-push-8 { left: 66.66666667%;}
.col-xs-push-7 { left: 58.33333333%;}
.col-xs-push-6 { left: 50%; }
.col-xs-push-5 { left: 41.66666667%;}
.col-xs-push-4 { left: 33.33333333%;}
.col-xs-push-3 { left: 25%;}
.col-xs-push-2 { left: 16.66666667%;}
.col-xs-push-1 { left: 8.33333333%; }
.col-xs-push-0 { left: auto;}
.col-xs-offset-12 {margin-left: 100%;}
.col-xs-offset-11 { margin-left: 91.66666667%;}
.col-xs-offset-10 { margin-left: 83.33333333%;}
.col-xs-offset-9 { margin-left: 75%;}
.col-xs-offset-8 { margin-left: 66.66666667%;}
.col-xs-offset-7 { margin-left: 58.33333333%;}
.col-xs-offset-6 { margin-left: 50%;}
.col-xs-offset-5 { margin-left: 41.66666667%;}
.col-xs-offset-4 { margin-left: 33.33333333%;}
.col-xs-offset-3 { margin-left: 25%;}
.col-xs-offset-2 { margin-left: 16.66666667%;}
.col-xs-offset-1 { margin-left: 8.33333333%;}
.col-xs-offset-0 { margin-left: 0%; }

.container:before,
.container:after,
.row:before,
.row:after,
.row-nomargin:before,
.row-nomargin:after {
    content: " ";
    display: table;
}
.container:after,
.row:after,
.row-nomargin:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right { float: right !important; }
.pull-left { float: left !important; }
.hide { display: none !important; }
.show { display: block !important; }

/*MARGINS*/

.m-t-20 { margin-top:20px;  }
.m-t-40 { margin-top:40px;  }
.m-t-60 { margin-top:60px;  }
.m-t-80 { margin-top:80px;  }
.m-b-10 { margin-bottom:10px;   }
.m-b-20 { margin-bottom:20px;   }
.m-b-40 { margin-bottom:40px;   }
.m-b-60 { margin-bottom:60px;   }
.m-b-100 { margin-bottom:100px; }
.m-b-200 { margin-bottom:200px; }

.left > * {  padding-right:0 !important; }
.middle > * {
    padding-left:0 !important;
    padding-right:0 !important;	
}
.right > * {padding-left:0 !important;}
.right {margin-top:25px; padding-top:5px;}
.left {padding-top:5px;}

/*Fonts & Text*/
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }
h1, .h1 {font-size:3em; color:#0B4C8A;	
         font-family:'Conv_LyonDisplayWeb-RegularItalic', Times, "Times New Roman", serif;}
h2, .h2 {font-size: 1.8em; font-family:'Conv_LyonDisplayWeb-Regular', Arial, san-serif; color:#0B4C8A;}
h3, .h3 {font-size: 1.3125em; /* 21 / 16 */ }
h4, .h4 {font-size: 1.125em; /* 18 / 16 */  }
h5, .h5,
h6, .h6 {font-size: 1em; /* 16 / 16 */  }
p, a {line-height:1.3;}
a {color:#FFF;}

button, .button {
    border:none;
    border-radius:20px;	
    text-transform:uppercase;
    color:#FFF;
    background-color:#3486D5;
    min-width:100px;
    cursor:pointer;
    display:inline-block;
    padding:10px 20px;
    font-size:90%;
}

button:hover, .button:hover {
    background-color:#61A0DB;	
}
/*Colors */
.white-text {
    color:#FFF !important;	
}

/*Images*/
img.adapt-width {
    width:100%;
    height:auto;	
}




/* Smartphones */
@media (min-width: 300px){
    body{ font-size: 75%; }

}

/* Retina */
@media (min-width: 479px){
    body{ font-size: 87.5%; }

}

/* Tablet */
@media (min-width: 768px){
    body{ font-size: 100%; }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 { width: 100%;  }
    .col-sm-11 { width: 91.66666667%;  }
    .col-sm-10 { width: 83.33333333%;  }
    .col-sm-9 { width: 75%;  }
    .col-sm-8 { width: 66.66666667%;  }
    .col-sm-7 { width: 58.33333333%;  }
    .col-sm-6 { width: 50%;  }
    .col-sm-5 { width: 41.66666667%;  }
    .col-sm-4 { width: 33.33333333%;  }
    .col-sm-3 { width: 25%;  }
    .col-sm-2 { width: 16.66666667%;  }
    .col-sm-1 { width: 8.33333333%;  }
    .col-sm-pull-12 { right: 100%;  }
    .col-sm-pull-11 { right: 91.66666667%;  }
    .col-sm-pull-10 { right: 83.33333333%;  }
    .col-sm-pull-9 { right: 75%;  }
    .col-sm-pull-8 { right: 66.66666667%;  }
    .col-sm-pull-7 { right: 58.33333333%;  }
    .col-sm-pull-6 { right: 50%;  }
    .col-sm-pull-5 { right: 41.66666667%;  }
    .col-sm-pull-4 { right: 33.33333333%;  }
    .col-sm-pull-3 { right: 25%;  }
    .col-sm-pull-2 { right: 16.66666667%;  }
    .col-sm-pull-1 { right: 8.33333333%;  }
    .col-sm-pull-0 { right: auto;  }
    .col-sm-push-12 { left: 100%;  }
    .col-sm-push-11 { left: 91.66666667%;  }
    .col-sm-push-10 { left: 83.33333333%;  }
    .col-sm-push-9 { left: 75%;  }
    .col-sm-push-8 { left: 66.66666667%;  }
    .col-sm-push-7 { left: 58.33333333%;  }
    .col-sm-push-6 { left: 50%;  }
    .col-sm-push-5 { left: 41.66666667%;  }
    .col-sm-push-4 { left: 33.33333333%;  }
    .col-sm-push-3 { left: 25%;  }
    .col-sm-push-2 { left: 16.66666667%;  }
    .col-sm-push-1 { left: 8.33333333%;  }
    .col-sm-push-0 { left: auto;  }
    .col-sm-offset-12 { margin-left: 100%;  }
    .col-sm-offset-11 { margin-left: 91.66666667%;  }
    .col-sm-offset-10 { margin-left: 83.33333333%;  }
    .col-sm-offset-9 { margin-left: 75%;  }
    .col-sm-offset-8 { margin-left: 66.66666667%;  }
    .col-sm-offset-7 { margin-left: 58.33333333%;  }
    .col-sm-offset-6 { margin-left: 50%;  }
    .col-sm-offset-5 { margin-left: 41.66666667%;  }
    .col-sm-offset-4 { margin-left: 33.33333333%;  }
    .col-sm-offset-3 { margin-left: 25%;  }
    .col-sm-offset-2 { margin-left: 16.66666667%;  }
    .col-sm-offset-1 { margin-left: 8.33333333%;  }
    .col-sm-offset-0 { margin-left: 0%;  }


    .left > * {
        padding-right:25px !important;	
    }
    .middle > * {
        padding-left:12px !important;
        padding-right:12px !important;	
    }
    .right > * {
        padding-left:25px !important;	
    }
    .right {margin-top:0;}
}

/* Desktop */
@media (min-width: 979px){
    body{ font-size: 100%; }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 { width: 100%;  }
    .col-md-11 { width: 91.66666667%;  }
    .col-md-10 { width: 83.33333333%;  }
    .col-md-9 { width: 75%;  }
    .col-md-8 { width: 66.66666667%;  }
    .col-md-7 { width: 58.33333333%;  }
    .col-md-6 { width: 50%;  }
    .col-md-5 { width: 41.66666667%;  }
    .col-md-4 { width: 33.33333333%;  }
    .col-md-3 { width: 25%;  }
    .col-md-2 { width: 16.66666667%;  }
    .col-md-1 { width: 8.33333333%;  }
    .col-md-pull-12 { right: 100%;  }
    .col-md-pull-11 { right: 91.66666667%;  }
    .col-md-pull-10 { right: 83.33333333%;  }
    .col-md-pull-9 { right: 75%;  }
    .col-md-pull-8 { right: 66.66666667%;  }
    .col-md-pull-7 { right: 58.33333333%;  }
    .col-md-pull-6 { right: 50%;  }
    .col-md-pull-5 { right: 41.66666667%;  }
    .col-md-pull-4 { right: 33.33333333%;  }
    .col-md-pull-3 { right: 25%;  }
    .col-md-pull-2 { right: 16.66666667%;  }
    .col-md-pull-1 { right: 8.33333333%;  }
    .col-md-pull-0 { right: auto;  }
    .col-md-push-12 { left: 100%;  }
    .col-md-push-11 { left: 91.66666667%;  }
    .col-md-push-10 { left: 83.33333333%;  }
    .col-md-push-9 { left: 75%;  }
    .col-md-push-8 { left: 66.66666667%;  }
    .col-md-push-7 { left: 58.33333333%;  }
    .col-md-push-6 { left: 50%;  }
    .col-md-push-5 { left: 41.66666667%;  }
    .col-md-push-4 { left: 33.33333333%;  }
    .col-md-push-3 { left: 25%;  }
    .col-md-push-2 { left: 16.66666667%;  }
    .col-md-push-1 { left: 8.33333333%;  }
    .col-md-push-0 { left: auto;  }
    .col-md-offset-12 { margin-left: 100%;  }
    .col-md-offset-11 { margin-left: 91.66666667%;  }
    .col-md-offset-10 { margin-left: 83.33333333%;  }
    .col-md-offset-9 { margin-left: 75%;  }
    .col-md-offset-8 { margin-left: 66.66666667%;  }
    .col-md-offset-7 { margin-left: 58.33333333%;  }
    .col-md-offset-6 { margin-left: 50%;  }
    .col-md-offset-5 { margin-left: 41.66666667%;  }
    .col-md-offset-4 { margin-left: 33.33333333%;  }
    .col-md-offset-3 { margin-left: 25%;  }
    .col-md-offset-2 { margin-left: 16.66666667%;  }
    .col-md-offset-1 { margin-left: 8.33333333%;  }
    .col-md-offset-0 { margin-left: 0%;  }

}


@media (min-width: 768px){

}

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */

    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
}

.center-to-right, .center-to-left {
    text-align:center;	
}

@media (min-width: 768px){
    .center-to-left {   text-align:left;}
    .center-to-right {  text-align:right;}
}

#kontakt-header {margin-bottom:10px; margin-top:40px; color: #204A77; z-index:2;}

/*NAVIGATION*/
nav {
    z-index:9998;	
    position:relative;
    width:100%;
    color: #204A77;
}
nav .topborder {
    position:relative;
    display:block;
    width:100%;
    background-color:#EEF6FE;
    padding:20px 0 50px 0;
    white-space:nowrap;
}
#nav-trigger {
    display: block;
    text-align: right;
    height:40px;
    padding:5px;
    position:absolute;
    top:10px;
    left:0;
    z-index:9999;
    width:95%;
    cursor: pointer;
}
#nav-trigger span {    
    position:absolute;
    right:0;
    top:13px;
}
#nav-trigger span img {width:20px;}

nav#nav-main {
    padding:0; 
    margin:0;
    border:none;
    display: none;	
}
#kontakt-header .logotyp,
nav .logotyp {
    display:block;
    position:absolute;
    width:85%;
    text-align:left;
    margin-left:3%;
    top:5px;
    height:26px;
}
#kontakt-header .logotyp img,
nav .logotyp img {	
    height: 22px;
    width:auto;
    display: inline-block;
    vertical-align:text-baseline;
    padding:0;
}

#kontakt-header .logotyp span,
nav .logotyp span {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    display:inline-block;
    font-size:20px;
    position:relative;
    line-height:22px;
    left:10px;
    padding:0;

}

nav#nav-main ul {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
    text-align: right; 
    width:66%;
    display:inline-block;
    float:right;
}
nav#nav-main li,
ul#login-lang-selector ul {
    display: inline-block;    
    padding: 0;
    position: relative;
    margin-right:4%;
    text-align:right;
    vertical-align: middle;
}
nav#nav-main li:last-child {margin-right:0;}
nav#nav-mobile a,
nav#nav-main a,
ul#login-lang-selector a {
    display: block;   
    padding: 0; 
    text-decoration:none;
    font-size:90%;
    margin:0;
    color: #204A77;
}
nav#nav-mobile li.current a,
nav#nav-mobile li a:hover,
nav#nav-main li.current a,
nav#nav-main a:hover,
ul#login-lang-selector a:hover {
    color: #3392EE; 
}
nav#nav-mobile {
    position: relative;
    display: block; 
    z-index:9998;	
}
nav#nav-mobile .topborder {	height:0;}
nav#nav-mobile ul {
    display: block;
    list-style-type: none;
    position: relative;
    margin-left: 0;
    text-align: center;
    padding:30px 10px;
    background-color:#EEF6FE;
}
nav#nav-mobile li {
    display: block;
    margin: 10px 0;	
}

/*Second level - main*/
nav#nav-main li ul,
ul#login-lang-selector {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;    
    background: #FFF; 
    width:100%; 
    border:1px solid #204A77;
    border-top:0px;
    display:none;
}
ul#login-lang-selector {
    display:block; 
    top:0;
    left:100%;
    margin-left:-15px;
    width:35px; 
    position:absolute;
}

nav#nav-main li ul li,
ul#login-lang-selector li {
    float: none;
    display: block;
    border: 0;
    margin:0;
}
nav#nav-main li ul li a,
ul#login-lang-selector li a {    
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
    text-align:center;	
    padding:5px 0;
    width:35px;
}

/*Second level - mobile*/
nav#nav-mobile li ul {
    margin: 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    top: 20px;
    left: 0;
    z-index: 1;    
    height:0;
    overflow:hidden;	
    display:inline-block;
    border-top:1px solid #CCC;
}
nav#nav-mobile li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    padding:0;
    height:auto;
}
nav#nav-mobile li ul li {
    float: none;
    display: inline-block;
    border: 0;
    margin:0;
    padding:0;	
}
nav#nav-mobile li ul li a {    
    padding: 10px;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    float: none;
    text-align:left;
}
a.btn-lang  {
    background-color:#FFF;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    border:1px solid #204A77;
    padding:5px 0!important;
    text-align:center;
    width:35px;
}
nav#nav-mobile a.btn-lang  {
    max-width:35px;
    margin:0 auto;	
}
ul#login-lang-selector a.btn-lang  {
    margin-left:-1px;
}
a.logotyp span,
a.logotyp:hover span {
    color:#204A77;	
}
@media all and (min-width: 768px) {
    #nav-trigger {display: none;}	
    nav#nav-main {display: block; }	
    nav#nav-mobile {display: none; }	
    nav .logotyp {width:30%; margin-left:20px; top:31px;}
}
@media all and (min-width: 970px) {
    nav .logotyp {margin-left:0;}
}



.section-title {
    margin-top:50px;	
    margin-bottom:50px;
    position:relative;
    text-align:center;
}
.section-title .line-through {
    height:1px;
    width:100%;
    display:block;
    background-color:#CCC;
    position:relative;
    top:1.2em;
}
.section-title h2 {
    position:relative;	
    display:inline-block;
    background-color:#FFF;
    padding-left:20px;
    padding-right:20px;
    margin:0 auto;
}
.section-title p {
    max-width:550px;
    margin: 30px auto 0;
}
.section-title button, 
.section-title a.button {margin-top:30px;}

#journal-desc-wrapper {	margin:10px 0 10px;}	

a#provsvar-desc, a#analys-desc, a#profil-desc {
    text-align:left;
    padding:20px;
    height:150px;
    overflow:hidden;
}
a#provsvar-desc, a#analys-desc, a#profil-desc {display:block;}
a#provsvar-desc h3, a#analys-desc h3, a#profil-desc h3 {margin-bottom:10px;}
a#provsvar-desc p, a#analys-desc p, a#profil-desc p {
    margin-bottom:10px;
    font-size:80%;
}

a#provsvar-desc {	
    background:url("../images/start-provsvar.png") no-repeat right bottom;
    background-color:#0B4C8A;
    color:#FFF;
}
a#analys-desc {
    background:url("../images/start-analys.png") no-repeat right bottom;
    background-color:#EEF6FE;

}
a#analys-desc {color:#0B4C8A;	}
a#profil-desc {
    background:url("../images/start-profil.png") no-repeat right bottom;
    background-color:#3486D5;	
    color:#FFF;
    border-right:5px solid #FFF;
}

@media screen and (min-width: 768px) {
    a#provsvar-desc, a#analys-desc, a#profil-desc {
        height:200px;	
    }
    a#analys-desc {border-left:5px solid #FFF;}
    a#profil-desc {border-right:5px solid #FFF;}
}

/*-----------OM MIN JOURNAL-----------*/
.jumbotron {
    padding:100px 25px;
    min-height:400px;
}

#om .jumbotron {
    background-color: #fff;
    /*background:url(../images/omminjournal.png) no-repeat center center;*/
    /*background:url("") no-repeat center center;*/
    background: url("../images/omminjournal.png") no-repeat center center;

    background-size:cover;
    color:#0B4C8A;
}
#om .jumbotron h1 {}
#om .jumbotron p {margin-bottom: 15px;}
.jumbotron h1 {
    margin-bottom:30px;	
    font-style:italic;
}
#last-test {
    color:#0B4C8A;
    font-size:120%;
    margin-top:10px;
}

/*-----------MINA PROVSVAR----------*/
#provsvar .jumbotron {
    background-color: #fff;
    background:url("../images/minaprovsvar.png") no-repeat center center;
    background-size:cover;
}
#provsvar .jumbotron p {
    margin-bottom: 15px;
    color:#0B4C8A;
}

#laggtill-provsvar .jumbotron {
    background:url("../images/laggtillprovsvar.png") no-repeat center center;
}

/*-----------MIN PROFIL----------*/
#profil .jumbotron,
#analys .jumbotron  {
    background-color: #0B4C8A;
    background:url("../images/minprofil.png") no-repeat center center;
    background-size:cover;
    color:#FFF;
}
#analys .jumbotron  {
    background:url("../images/minanalys.png") no-repeat center center;
    background-size:cover;
}

#laggtill-provsvar .jumbotron h1,
#provsvar .jumbotron h1,
#analys .jumbotron h1,
#profil .jumbotron h1 {color:#FFF; }
#laggtill-provsvar .jumbotron p,
#provsvar .jumbotron p,
#profil .jumbotron p,
#analys .jumbotron p {
    margin-bottom: 15px;
    color:#FFF;
}




/*SELECT DATE*/
#select-date-wrapper {
    width:100%;
    background-color:#EEF5FB;
    display:block;
    height:36px;
}
#select-date-title {
    display:inline-block;
    position: relative;
    text-transform:uppercase;
    background-color:#3486D5;
    line-height:36px;
    width:50%;
    color:#FFF;
    text-align:center;
    font-size:80%;
    z-index:3;
}
#select-date-title:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #3486D5;
    border-width: 18px;
    margin-top: -18px;
}
#select-date-dropdown { width:50%;  }
.wrapper-dropdown {
    position: absolute;
    display:inline-block;
    background-color: #dce5f7;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;	
    color:#204A77;
    padding:10px 0;

}
.wrapper-dropdown span.selected-val {
    padding-left:50px;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
}
.wrapper-dropdown:after { 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -5px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #0B4C8A transparent;
}
.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #dce5f7;
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow-y:auto;
    overflow-x:hidden;
}
.wrapper-dropdown .dropdown li { padding: 0 10px ;}
.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #204A77;
    padding: 5px 40px;
    position:relative;
}
.wrapper-dropdown .dropdown li a.manual-val {padding-left:60px;}

.wrapper-dropdown span.selected-val.manual-val:before,
.wrapper-dropdown .dropdown li a.manual-val:before {
    padding-left:60px;
    content:url("../images/manual-val.png");
    position:absolute;
    left:-20px;
    top:5px;
}
.wrapper-dropdown span.selected-val.manual-val:before {
    left:-25px;
    top:8px;
}
.wrapper-dropdown .dropdown li:last-of-type a { border: none;}
.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
.wrapper-dropdown .dropdown li:hover a { color: #3392EE;}
.wrapper-dropdown.active {
    box-shadow: none;
    border-bottom: none;
    z-index:2;
}
.wrapper-dropdown.active .dropdown {max-height: 155px;}

.stick {
    position:fixed;
    top:0px;
    z-index:999;
    width:100%;
    display:block;
    height:72px;
}
.sticky-margin {margin-top:72px;}

#analys .stick {height:36px;}




/*USER RESULTS*/
.user-results-titlebar {
    width:100%;
}
.user-results-titlebar .titlebar {
    width:100%;
    background-color:#0B4C8A;
    height:36px;
    color:#FFF;
    text-align:center;
    line-height:36px;
    font-size:75%;
}




#user-results-wrapper,
#analysis-results-wrapper,
#manual-results-wrapper,
#analysis-related-results-wrapper {
    background-color:#EEF5FB;
    width:100%;
}
#analysis-results-wrapper,
#analysis-related-results-wrapper {margin-top:20px;}
.result-table table {width:100%;}
.result-table {
    margin:0px;padding:0px;
    width:100%;
    border:0px solid #ffffff;
    border-width:0px 0px 10px 0px;
}
.result-table table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
.result-table tr {background-color: #EFEFEF;}
.result-table tr.color-1 {background-color: #e0e0e0;}
.result-table tr.color-2 {background-color: #ebebeb;}
.result-table td {
    vertical-align:middle;
    border:0px solid #ffffff;
    border-width:0px 0px 0px 0px;
    text-align:center;
    padding:15px;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    color:#000000;
}
.result-table tr:last-child td {border-width:0px 0px 0px 0px;}
.result-table td.test-title {
    background-color:#eef3fc;
    border:0px solid #ffffff;
    text-align:left;
    border-width:0px 0px 0px 0px;
    color:#204A77;
    font-size:130%;
    width:33.3%;
}
.result-table tr td:first-child {text-align:left;}
.result-table tr:nth-child(2n) td,
.result-table tr.white-border td {border-width:3px 0px 0px 0px;}
.result-table .test-btn {
    position:relative;	
    padding:0;
}
.result-table .test-btn .arrow {
    width:100%;
    height:36px;	
}
.result-table .test-btn .arrow:after { 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left:-10px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #666666 transparent;
}

/*Resultat - hidden content*/
.result-table td.test-result {
    width:25%;
    color:#FFF;	
    font-size:115%;
}
.result-table td.green {
    background-color:#43CA96;	
}
.result-table td.red {background-color:#F58080;}
.result-table td.grey {
    background-color:#f2f2f2;
    color:#000;	
}
.result-table td.comment {
    background:url("../images/alert-val.png") no-repeat center center;
    background-color:#f2f2f2;
    color:#F58080;	
}
/*Intervall*/
.result-table td.test-interval {
    width:25%;
    font-size:80%;
}
.result-table td.test-trend {
    width:8%;
    background-color:#f2f2f2;	
}
.result-table td.test-trend.up {
    background:url("../images/trend-up.png") no-repeat center center;
    background-size:contain;	
    background-color:#f2f2f2;
}
.result-table td.test-trend.down {
    background:url("../images/trend-down.png") no-repeat center center;
    background-size:contain;	
    background-color:#f2f2f2;
}
.result-table td.test-trend.same {
    background:url("../images/trend.png") no-repeat center center;
    background-size:contain;	
    background-color:#f2f2f2;
}
.result-table tr.expandable:hover,
.result-table tr.expandable:hover td.green,
.result-table tr.expandable:hover td.red,
.result-table tr.expandable:hover td.test-trend  {
    cursor:pointer;	
    background-color:#3486D5;
    background-color:rgba(51,146,238,0.5);	
}

.result-table tr.test-desc td {
    padding:0;
    margin:0;
}
.result-table tr.test-desc .test-desc-wrapper { padding:20px 0; }
.result-table tr.test-desc .test-desc-wrapper p,
.result-table tr.test-desc .test-desc-wrapper ul {
    font-size:80%;
    margin:20px 0;
}
.result-table tr.test-desc .test-desc-wrapper ul {  margin-left:20px;}
.result-table tr.test-desc .test-desc-wrapper p.strong,
.result-table tr.test-desc .test-desc-wrapper p span.strong {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;	
    margin-bottom:0;
}

.result-table tr.highlight {background-color:#f9d9d9;}
.result-table tr.highlight td.grey  {background-color:transparent;}
.result-table .test-btn img {
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin:8px auto 0 auto;	
    width:90%;
    max-width:30px;
}
.result-table tr.selected td.grey  {background-color:transparent;}
.result-table tr.selected a.btn-edit img {
    width:180%;
    max-width:115px;
    left:20%;
    z-index:2;
    margin-top:18px;
}
.result-table tr.selected a.btn-delete img {
    width:180%;
    max-width:115px;
    margin-right:0;
    right:0;
    z-index:2;
}

.result-table input {
    height:40px;
    text-align:center;
    width:90%;
    margin:0 5%;
    background-color:#EEF6FE;
    color:#666666;
    border:1px solid #B5B5B5;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    font-size:100%;
    padding:0;
}
.result-table ul li {
    margin-bottom:5px;	
}

.result-table tr.comment-desc {	
    /*background:url(../images/alert-val-min.png) no-repeat 15px 15px;*/
    background:url("../images/alert-val-min.png") no-repeat 15px 15px;
    background-color:#f2f2f2;
}
.result-table tr.comment-desc td {
    padding-left:35px;
    font-size:80%;
    font-family:'Conv_GraphikWeb-Regular', Arial, san-serif;
}

@media (min-width:768px){
    .result-table tr.selected a.btn-edit img {
        left:27%;
    }
    .result-table tr.selected a.btn-delete img {
        right:27%;
        z-index:2;
    }

}

/*Graph*/
.graph-wrapper {
    width: 100%;
    padding: 40px;
    background-color:#FFF;
    text-align:center;
}


/*Alerts*/
#results-alert-wrapper {	
    margin-top:20px;
    margin-bottom:20px;	
}
.pink-alert {
    padding:25px 10px 25px 80px;	
    background:url("../images/alert-pink.png") no-repeat 30px 20px;
    background-color:#fbecec;
    color:#F58080;
    font-size:80%;	
}

/*ADD RESULTS*/
#add-new-results-wrapper {margin-bottom:50px;}

#add-date-wrapper {
    background-color:#EEF6FE;
    color:#204A77;	
    height:50px;
    line-height:50px;
    text-align:center;
    padding:0;
    font-size:80%;
}
#add-date-wrapper span {
    display: inline-block;
    vertical-align: middle;    
    line-height: normal;
}
#add-values-wrapper {
    margin-top:60px;
    text-align:center;	
}
#add-values-wrapper input {
    height:50px;
    text-align:center;
    width:100%;
    margin-bottom:10px;
    background-color:#EEF6FE;
    border:none;
    font-family:'Conv_GraphikWeb-Regular', Arial, san-serif;
    font-size:100%;
    padding:15px 0;
}

#manual-results-wrapper {margin-bottom:50px; }
#manual-results-wrapper .result-table {border-top:10px solid #FFF;}
#manual-results-wrapper .result-table td.test-name {text-align:center; }

@media (min-width:768px){
    #add-values-wrapper {margin-top:20px;}
    #add-values-wrapper div:first-child {text-align:left;}
    #add-values-wrapper div:last-child {text-align:right;}
    #add-values-wrapper input {width:90%;}
}


/*MIN ANALYS*/
#doctor-comments-wrapper {
    background-color:#EEF6FE;	
    padding:25px 0;	
}
#doctor-comments-wrapper button {
    float:right;
    min-width:180px;	
}
#doctor-comments {
    background:url("../images/doctor-comments.png") no-repeat 20px 0;
    background-size:auto;
    min-height:120px;
    padding:0 0 0 130px;
    margin-bottom:30px;
    color:#204A77;	
}
#doctor-comments h3 {	
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    margin-bottom:20px;	
}
#doctor-comment-expand {
    overflow:hidden;
}

#doctor-comments-wrapper p {margin-bottom:20px;}
#doctor-status-holder {text-align:left;}
#doctor-status {
    border:none;
    border-radius:20px;	
    text-transform:uppercase;
    color:#333;
    background-color:#F7B90D;
    max-width:100%;
    display:inline-block;
    padding:10px 20px;
    text-align:center;
    font-size:80%;
}
#doctor-status span {font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;}

.signature {margin-top:20px; margin-bottom:20px;}
.signature .doctor-name,
.signature img { vertical-align: middle;}
.signature .doctor-name {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    color:#204A77;
    display:inline-block;
    margin-left:10px;		
}
.signature .doctor-name span {
    font-family:'Conv_GraphikWeb-Regular', Arial, san-serif;
    color:#000;
    display:block;
    font-size:80%;
}
.signature img {display:inline-block;}

/*TABS*/
.tabs {
    width: 100%;  
    position: relative;
    margin: 0;
    padding:0;  
}
.tabs .tab {
    display: inline-block;
    float:none;
    white-space:nowrap;
    width:49%;
    margin:0;
    padding:0;
}
.tabs label {
    display: block;
    width:100%;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    font-size: 100%;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    color: #000;
    top: 0;
    z-index: 1;
    margin: 0;
    background-color:#EFEFEF;
}
.tab-content {
    z-index: 2;
    display: block; 
    overflow: hidden;
    width: 100%;
    position: relative;
    white-space:normal;
    padding:40px 0 0;
}  
.tab-content .section-title {
    margin-top:0; 
    margin-bottom:35px; 
}
.tabs .tab.current label { 
    z-index: 3;
    background-color:#3486D5;
    color:#FFF;
}  
.tabs .tab:hover label { 
    background-color:#E0E0E0;
}
.tabs .tab.current:hover label { 
    background-color:#61A0DB;
}

.tab-content p {margin-bottom:10px; }

.analysis-desc-wrapper {
    margin-top:30px;
    background-color:#EEF6FE; 
    padding:40px; 
    display:block;
    position:relative;
    min-height:800px;
}
.analysis-desc-wrapper .right-items,
.analysis-desc-wrapper .left-items {
    width:50.1%;  
    position:relative;
    float:left;
}
.test-item {
    position:relative; 
    display:block;
    width:100%;
    margin-bottom:40px;
}
.test-item h4 {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    color:#204A77;
    font-size:130%;
    margin-bottom:7px;
}
.test-item p {font-size:90%;}
.test-item button {	
    width:100%;
    max-width:200px;
    margin-top:10px;
}
.test-item button.selected {
    background-color:#E2E2E2;  
    color:#000;
}

.test-item button.selected:hover {
    background-color:#CECECE;
}

.analysis-desc-wrapper .text-right,
.analysis-desc-wrapper .text-right .test-item {text-align:left;   } 

#analysis-target-desc {display:none; }
#analysis-target-desc .row div {
    vertical-align: bottom;
    display: inline-block;	 
    float:none;
}
#analysis-target-desc p {margin-bottom:10px;  }
#analysis-target-desc p.strong {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    margin-top:20px;
}
#analysis-target-desc a {
    font-size:90%;
    color:#3486D5;
}

#fullbody-wrapper  {
    height:0;
    padding-top: 48%;
    position:absolute;	
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    z-index:99;
    width:30%;
    display:none;
}
#fullbody-wrapper svg {
    position: absolute;	
    display: block;
    top:0;
    left:0;
    right:0;
    margin:auto;
    max-height:800px;
}




@media all and (min-width: 600px) {
    .tabs .tab { width:16.1%;}
}

@media (min-width:768px){
    #doctor-status-holder {text-align:right;}
    .tabs .tab { width:16.15%;} 
    .analysis-desc-wrapper .right-items,
    .analysis-desc-wrapper .right-items .test-item {
        text-align:right;  
    }	
    .analysis-desc-wrapper .right-items,
    .analysis-desc-wrapper .left-items {
        width:25%;  
        position:relative;
        float:left;
    }
    .analysis-desc-wrapper .right-items {left:50%;  }
}
@media (min-width: 920px){
    .tabs .tab { width:16.25%;}
}

footer {		
    color:  #333;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:50px 0;
    position:relative;
    font-size:80%;
    margin-bottom:800px;
}




.title {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    text-align:center;
    margin-bottom:10px;
}
.title-analys,
.title-star, 
.title-why,
.title-high,
.title-low,
.title-comment,
.title-export {
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    margin:20px 0 30px;
    padding-left:50px;
}
.title-analys:before,
.title-star:before,
.title-why:before,
.title-high:before,
.title-low:before,
.title-comment:before,
.title-export:before {
    content:url("../images/title-analys.png");
    position:absolute;
    left:0;
    top:10px;
}
.title-why:before {content:url("../images/title-why.png");}
.title-star:before {content:url("../images/title-star.png");}
/*.title-star:before {content:url(../images/title-star.png);}*/
.title-high:before {content:url("../images/title-high.png");}
.title-low:before {content:url("../images/title-low.png");}
.title-comment:before {content:url("../images/title-comment.png"); }
.title-export:before {content:url("../images/title-export.png"); }
@media (min-width:768px){
    .title-analys:before,
    .title-why:before,
    .title-high:before,
    .title-low:before,
    .title-comment:before,
    .title-export:before  {
        top:10px;
    }
}

/*MIN PROFIL*/
#bodydata .row-nomargin .text-right {text-align:left;}

input.input-wrapper,
button.radio {
    background-color:#EEF6FE;
    background-repeat:no-repeat;
    background-position:top left;
    color:#204A77;	
    height:50px;
    line-height: normal;
    text-align:left;
    width:100%;
    border:none;
    border-radius:0;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    font-size:125%;
    text-transform:none;	
    margin-bottom:5px;
    padding-left:70px;
}
input.input-wrapper {padding:0 0 0 70px;} 
#input-height { background-image:url("../images/langd.png");}
#input-weight { background-image:url("../images/vikt.png");}
#input-name {   background-image:url("../images/name.png");}
#input-mobile { background-image:url("../images/mobile.png");}
#input-personnr {   background-image:url("../images/personnr.png");}
#input-email {  background-image:url("../images/email.png");}
button.radio.selected {background-image:url("../images/tick.png");}

input.input-wrapper::-moz-placeholder { line-height:50px; }
input.input-wrapper:-moz-placeholder { line-height:50px; }

textarea.input-textarea {width:100%; background-color:#EEF6FE; border:none; padding:20px; font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
                         font-size:100%; text-transform:none; color:#204A77; }

input.input-wrapper:-ms-input-placeholder { line-height:normal; color:#888;}
textarea.input-textarea:-ms-input-placeholder {color:#888;}

#input-formemail, #input-subject {
    font-size:16px;
    padding-left:20px;
}

select {
    margin-bottom:5px;
    border: none;
    width:100%;
    background: #EEF6FE;
    padding: 5px 10px;
    font-size: 18px;
    height: 50px;
    font-family:'Conv_GraphikWeb-Medium', Arial, san-serif;
    font-size:100%; text-transform:none;
    color:#204A77;		
}
/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
    select {
        background: none;
        background-color: #EEF6FE;
        padding: 5px 10px;
    }
}


@media (min-width:768px){
    #bodydata .row-nomargin .text-right {text-align:right;}
    input.input-wrapper,
    button.radio {width:99.5%;}
    #input-name, #input-email, #input-subject, #input-formemail {width:100%;}
}

.simpleslider {
    display:block;
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;	
}
.simpleslider .drag-container {
    position:relative;
    width:80%;
    height:30px;
    margin: 0 auto;
    border-radius:15px;
    background-color:#EEF6FE;
    color:#000;
    -webkit-backface-visibility:hidden;
}
.simpleslider .drag-elem {
    position: absolute;
    left:0;
    margin-left:0;	
    top:0px;
    width:30px;
    height:30px;
    border-radius:50%;
    display:block;
    background-color:#204A77;
    -webkit-backface-visibility:hidden;
    background-image:url("../images/overallhealth.png");
    background-repeat:no-repeat;
    background-position:top left;
}
.simpleslider span {
    position:absolute;
    top:35px;	
    left:2%;
    text-align:center;
    font-size:80%;
}
#health-slider.simpleslider span:nth-child(3n) { left:33%;}
#health-slider.simpleslider span:nth-child(4n) { left:64%;}
#health-slider.simpleslider span:nth-child(5n) { left:91%;}

#walking-slider.simpleslider span:nth-child(3n) { left:33%;}
#walking-slider.simpleslider span:nth-child(4n) { left:63%;}
#walking-slider.simpleslider span:nth-child(5n) { left:95%;}

#walking-slider.simpleslider .drag-elem {background-image:url("../images/walkingpace.png");}

/*KONTAKT*/
#kontakt-form-wrapper a {color:#61A0DB;}
#kontakt-form-wrapper h2 {margin-bottom:30px;}
#kontakt-form-wrapper p {margin-bottom:10px;margin-top:0}

